@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
    font-size: large;
    background: gray;
    color: #797979;
  }
}
